  body {
  font: Georgia, "Cambria", 18px serif;
<!--  background-color: #999999; -->
  shape-rendering: crispEdges;
  }
  .spin {
  fill: #fff;

  stroke: #ccc;
  stroke-width: .5px;
  }
  
  .posi{
  fill: #fff;
  stroke: #ccc;
  }

  .value {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  }

.BW{
fill:rgb(255,255,255);

}
.RdYlGn .q1{fill:rgb(165,0,38);transition: fill .2s;}
.RdYlGn .q0{fill:rgb(0,104,55);transition: fill .2s;}
.BW .t0{fill:rgb(255,255,255);transition: fill 1s;}
.BW .t1{fill:rgb(230,230,230);transition: fill 1s;}
.BW .t2{fill:rgb(205,205,205);transition: fill 1s;}
.BW .t3{fill:rgb(180,180,180);transition: fill 1s;}
.BW .t4{fill:rgb(155,155,155);transition: fill 1s;}
.BW .t5{fill:rgb(130,130,130);transition: fill 1s;}
.BW .t6{fill:rgb(105,105,105);transition: fill 1s;}
.BW .t7{fill:rgb(80,80,80);transition: fill 1s;}
.BW .t8{fill:rgb(55,55,55);transition: fill 1s;}
.BW .t9{fill:rgb(0,0,0);transition: fill 1s;}


/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 50px;                  
  height: 30px;                 
  padding: 2px;             
  font: 20px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

body {
  /* background-image: url("5513.jpg"); */
  color: #ffffff;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, button, select{
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
  background: center;
}

h1 {
	font-size: xx-large;
	line-height: 1.0em;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
#login {
  width: 280px;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

/* input[type="button"] */

select, select option, button{
	/* border-radius: 3px; */
	/* -moz-border-radius: 3px; */
	/* -webkit-border-radius: 3px; */
	background-color: #ea4c88;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
/*	margin-left: 1em;*/
	margin-right: 1em;
	text-transform: uppercase;
	text-align: center;
	height: 30px;
	width: 200px;

}

input [type="submit"]{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ea4c88;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	height: 50px;
	width: 280px;

}

input[type="submit"]:hover, button:hover{
  background-color: #d44179;
}
button[disabled="true"]{
  background-color: #222222;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
